/*
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.kghead {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
}

.kglogodiv {
    font-family: 'Lexend Giga', sans-serif;
    padding-top: 10px;
}

.kglogodiv a {
    color: #000;
}

.kglogodiv a:hover {
    text-decoration: none;
}

.kg-logo {
    font-size: 1.5rem;
}

.kr-color {
    color: #32cfb0;
}

.hnf-heading {
    font-size: 10px;
}

.kgsearch {
    display: flex;
    align-items: center;
}

.login-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart-nav {
    color: black;
}

.navbar-text {
    display: none;
}

.tbjcfe {
    justify-content: flex-end;
}

.hpgac {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hpgac li a {
    color: black !important;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-family: sans-serif;
}

.login-btn {
    color: white;
    font-weight: 500;
    background-color: #32cfb0;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #32cfb0;
}

.login-btn:hover {
    text-decoration: none;
    color: #e9efee;
}

.cart-nav:hover {
    text-decoration: none;
}

.cart-text {
    padding-left: 15px;
}

.caption-bottom {
    bottom: 40%;
}

.caption-head {
    color: black;
    font-size: 5rem;
    font-weight: 600;
}

.caption-head-w {
    color: white;
    font-size: 5rem;
    font-weight: 600;
}

.ch-line {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
}

.ch-line-w {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-shop-now {
    color: #FFF;
    background-color: #32cfb0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 40px;
    border: 2px solid #32cfb0;
    transition: all 0.3s ease;
}

.btn-shop-now:hover {
    text-decoration: none;
    background-color: black;
    color: #FFF;
    border: none;
}

.bg-none {
    background: none;
}

.carousel-indicators li {
    border: 0;
    border-radius: 50%;
    background: #000;
    width: 15px;
    height: 15px;
    margin: 0 15px;
    transition: all 0.2s ease 0s;
    z-index: 4;
}

.carousel-indicators .active {
    background-color: #32cfb0;
    width: 20px;
    height: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    font-size: 22px;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF;
    line-height: 48px;
    transition: all 0.2s ease 0s;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.bag-mr-bottom {
    margin-bottom: 50px;
}

.col-img {
    transition: all 0.3s ease;
}

.img-hover:hover img{
    transform: scale(1.03, 1.03) rotate(0.03deg) translateZ(0);
}

.b-sellers-div:hover img{
    transform: scale(1.03, 1.03) rotate(0.03deg) translateZ(0);
}

.bag-mr-bottom .col-caption,
.col-caption {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
    width: 100%;
}

.col-cap-one {
    font-size: 35px;
    margin-bottom: 18px;
    font-weight: 600;
    color: #FFF;
}

.col-cap-two {
    font-size: 24px;
    margin-bottom: 45px;
    color: #FFF;
}

.modern-designs .col-caption {
    position: absolute;
    left: 22%;
    top: 77%;
    transform: translate(-15%, -50%);
    text-align: left;
    font-family: sans-serif;

}

.recycled-truck .col-cap-one {
    color: #000;
}

.modern-designs .col-cap-one {
    color: #32cfb0;
}

.recycled-truck .col-cap-two,
.modern-designs .col-cap-two {
    color: #000;
}

.b-shop-now {
    padding: 18px 42px;
    background: none;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #000000;
    font-weight: 600;
}

.recycled-truck .b-shop-now {
    color: #FFF;
    background-color: #32cfb0;
    padding: 18px 42px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #32cfb0;
    font-weight: 600;
}

.category-heading {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}

.b-sellers-div a {
    color: #000;
}

.b-sellers-div a:hover {
    text-decoration: none;
}

.more-colors {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    color: #969696;
    line-height: 16px;
    letter-spacing: 1px;
}

.by-brand {
    font-size: 14px;
    color: #969696;
    letter-spacing: 1px;
    font-weight: 500;
}

.product-title {}

.actual-price {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-right: 10px;
}

.strike-price {
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

.product-card {
    border: none;
    padding: 15px;
    margin-right: 10px;
}

.product-card:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    transition: 0.5s;
}

.atc-div {
    position: absolute;
    background-color: rgba(255, 255, 255, .75);
    width: 100%;
    padding: 8px 0;
    bottom: 40%;
    left: 0;
    text-align: center;
}

.atc-btn {
    font-size: 11px;
    color: #353535;
    padding: 10px 15px;
    border: 1px solid #353535;
    display: inline-block;
    min-width: 116px;
    text-transform: uppercase;
    font-weight: 600;
}

.orange {
    color: #f16521;
}

.fbh {
    padding: 18px 0;
    font-size: 20px;
    line-height: normal;
    display: block;
    text-align: center;
}

.top-chalee {
    top: 45%;
}

.light-colors {
    color: #32cfb0 !important;
}

.col-white {
    color: #FFF !important;
}

.parallax {
    background-image: url("https://pritiinternationalltd.com/pub/media/parallax/images/parallax_layout_1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-layout {
    color: white;
    width: 100%;
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax-title {
    font-size: 84px;
    line-height: 84px;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 10px;
}


.parallax-slog {
    font-size: 24px;
    line-height: normal;
    color: #FFF;
    margin-bottom: 45px;
}

.link-parallax {
    color: #FFF;
    background-color: #32cfb0;
    padding: 18px 42px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #32cfb0;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.png-responsive{
    width: 80px;
    height: auto;
}

.png-icons a {
    display: flex;
    justify-content: center;
}




/* FOOTER */
.footer-light {
    background-color: #e3f7f6;
    color: #696b79;
}

.footer-big {
    padding: 40px 0 0 0;
}

.widget-about p {
    font-weight: 400;
}

.widget-about .contact-details {
    margin: 30px 0 0 0;
}

.widget-about .contact-details li {
    margin-bottom: 10px;
    list-style: none;
}

.widget-about .contact-details li span {
    padding-right: 12px;
}

.widget-about .contact-details li a {
    color: #5d5e6b;
}

.footer-big .footer-widget {
    margin-bottom: 40px;
}

.footer-widget-title {
    color: #696b79;
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px;
}

footer li {
    list-style: none;
}

.footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    transition: .3s;
    color: #696b79;
}




.mini-footer {
    background-color: #192724;
    text-align: center;
    padding: 32px 0;
}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}

.mini-footer p a {
    color: white;
}

/* FOOTER */