@media (min-width: 0px) and (max-width: 480px) {

    .login-btn {
        padding: 5px 25px;
        font-size: 13px;
    }

    .cart-text {
        display: none;
    }

    .hnf-heading {
        font-size: 9px;
    }

    .carousel-indicators li {
        width: 10px !important;
        height: 10px !important;
        margin: 0 10px;
    }

    .carousel-indicators .active {
        width: 15px !important;
        height: 15px !important;
    }

    .caption-head,
    .caption-head-w {
        font-size: 1.25rem;
    }

    .ch-line,
    .ch-line-w {
        font-size: 0.6rem;
    }

    .btn-shop-now {
        font-size: 7px;
        padding: 3px 10px;
    }

    .caption-bottom {
        bottom: 25%;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }

    .bag-mr-bottom {
        margin-bottom: 0px;
    }

    .col-cap-one {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .col-cap-two {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .b-shop-now,
    .recycled-truck .b-shop-now {
        font-size: 12px;
        padding: 7px 25px;
    }

    .category-heading {
        font-size: 1.5rem;
    }

    .atc-div {
        bottom: 47%;
    }

    .product-title {
        font-size: 0.95rem;
    }

    .atc-btn {
        padding: 7px 15px;
    }

    .more-colors {
        font-size: 11px;
    }

    .by-brand {
        font-size: 12px;
    }

    .actual-price {
        font-size: 18px;
    }

    .strike-price {
        font-size: 14px;
    }

    .o-scroll {
        overflow: scroll;
    }

    .bs-row-width {
        width: 1100px;
    }

    .product-card {
        margin-right: 10px;
    }

    .bag-mr-bottom .col-caption,
    .col-caption {
        width: fit-content;
    }


    .parallax {
        min-height: 350px;
    }

    .text-layout {
        height: 350px;
    }

    .parallax-title {
        font-size: 32px;
    }

    .parallax-slog {
        font-size: 14px;
    }

    .link-parallax {
        font-size: 12px;
        padding: 7px 25px;
    }

    .png-responsive {
        width: 45px;
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .login-btn {
        padding: 5px 25px;
    }

    .cart-text {
        display: none;
    }

    .hnf-heading {
        font-size: 9px;
    }

    .caption-bottom {
        bottom: 30%;
    }

    .caption-head,
    .caption-head-w {
        font-size: 4rem;
    }

    .ch-line,
    .ch-line-w {
        font-size: 1.25rem;
    }

    .bag-mr-bottom {
        margin-bottom: 23px;
    }

    .col-cap-one {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .col-cap-two {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .b-shop-now,
    .recycled-truck .b-shop-now {
        font-size: 12px;
    }

    .actual-price {
        font-size: 18px;
    }

    .strike-price {
        font-size: 14px;
    }

    .atc-div {
        bottom: 45%;
    }

    .product-title {
        font-size: 0.85rem;
    }

    .save-rs {
        font-size: 10px;
    }

    .atc-btn {
        padding: 7px 15px;
    }

    .by-brand {
        font-size: 13px;
    }

    .bs-row-width {
        width: 1100px;
    }

    .o-scroll {
        overflow: scroll;
    }

    .parallax {
        min-height: 400px;
    }

    .text-layout {
        height: 400px;
    }

    .parallax-title {
        font-size: 64px;
    }

    .parallax-slog {
        font-size: 20px;
    }

    .link-parallax {
        font-size: 12px;
    }

    .png-responsive {
        width: 60px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .hnf-heading {
        font-size: 8px;
    }

    .bag-mr-bottom {
        margin-bottom: 35px;
    }

    .atc-div {
        bottom: 46%;
    }

    .product-title {
        font-size: 1.1rem;
    }

    .footer-menu {
        padding-left: 48px;
    }

    .bs-row-width {
        width: 1200px;
    }

    .o-scroll {
        overflow: scroll;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .c-pt-9 {
        padding-top: 90px !important;
    }

    .footer-menu {
        padding-left: 48px;
    }
}